/* Add movie page */
.movie-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  height: 25rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  border: #b59136 2px solid;
  box-shadow: 0 2px 6px rgba(170, 169, 171, 0.7);
}

.add-movie-title {
  letter-spacing: 1px;
}

.add-movie-input {
  width: 80%;
  font-size: 1.1rem;
  margin: 0.5rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
  border: 2px solid #b59136;
}

.add-movie-btn {
  background-color: #b59136;
  color: #fff;
  margin: 1rem;
  padding: 0.75rem;
  font-size: 1.1rem;
  width: 7rem;
  cursor: pointer;
  border-radius: 0.3rem;
  transition-duration: 0.3s;
  box-shadow: 0 2px 6px rgba(170, 169, 171, 0.7);
}

.add-movie-btn:hover {
  background-color: #604200;
}

/* Media queries */
@media only screen and (max-width: 1050px) {
  .movie-form {
    width: 24rem;
    height: 24rem;
  }
}

@media only screen and (max-width: 800px) {
  .movie-form {
    width: 22rem;
    height: 22rem;
  }
  .add-movie-input {
    font-size: 1rem;
    padding: 0.6rem;
  }
  .add-movie-btn {
    margin: 0.75rem;
    padding: 0.5rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .movie-form {
    width: 20rem;
    height: 20rem;
  }
  .add-movie-title {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 400px) {
  .movie-form {
    width: 18rem;
    height: 18rem;
  }
  .add-movie-input {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 350px) {
  .movie-form {
    width: 16rem;
    height: 16rem;
  }
}
