/* Footer */
.footer {
  background-color: #604200;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  height: 10rem;
  overflow: hidden;
  bottom: 0;
  box-shadow: 4px 0 8px rgb(74 68 83 / 70%);
}

.footer h4 {
  font-family: Italiana, Varela Round, Tahoma, Helvetica, Verdana, Arial,
    sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.social-media {
  margin-bottom: 1rem;
}

.social-media > a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-bottom: solid 3px #604200;
}

.social-media > a:hover {
  border-bottom: solid 3px #b59136;
}

.icon-authors > a {
  font-size: 0.75rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

/* Media queries */
@media only screen and (max-width: 600px) {
  .footer {
    margin-top: 1rem;
    padding: 0.75rem;
  }
  .footer h4 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 400px) {
  .footer h4 {
    font-size: 1rem;
  }
  .social-media > a {
    font-size: 1rem;
  }
  .icon-authors > a {
    padding: 0.5rem;
  }
}
