/* Navigation buttons */
.add-new-movie-btn {
  max-width: 15rem;
}

.read-more-btn-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.read-more-btn {
  width: 7rem;
}

.home-btn-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}

/* Media queries */
@media only screen and (max-width: 800px) {
  .add-new-movie-btn {
    max-width: 10rem;
    font-size: 0.9rem;
  }
  .read-more-btn {
    font-size: 0.9rem;
  }
}
